DREAMCRM_API_KEY=
DREAMCRM_BASE_URL=
DREAMCRM_ACCOUNTING_API_KEY=
DREAMCRM_ACCOUNTING_BASE_URL=
DREAMCRM_EMAIL=
DREAMCRM_CUSTOMER_ID=
DREAMCRM_WEBSITE_ID=
DREAMCRM_DISCOUNT_CARD_NUMBER=
DREAMCRM_MINDBOX_ID=
DREAMCRM_MOBILE_PHONE=
DREAMCRM_ACTION_TEMPLATE_SYSTEM_NAME=
DREAMCRM_CONTACT_POINT_ID=
DREAMCRM_PROMOTION_ORDER_ID=
DREAMCRM_RUN_FULL_OPENAPI_TESTS=
DREAMCRM_RUN_MUTATING_OPENAPI_TESTS=

DREAMCRM_APP_CONTENT_BASE_URL=
DREAMCRM_APP_CONTENT_API_KEY=
DREAMCRM_APP_CONTENT_AUTHORIZATION=
DREAMCRM_APP_CONTENT_AUTHKEY=
DREAMCRM_APP_CONTENT_AUTH_KEY=
DREAMCRM_APP_CONTENT_USERNAME=
DREAMCRM_APP_CONTENT_PASSWORD=
DREAMCRM_APP_CONTENT_PASSWORD_CONFIRM=
DREAMCRM_APP_CONTENT_EMAIL=
DREAMCRM_APP_CONTENT_MAIL=
DREAMCRM_APP_CONTENT_PHONE=
DREAMCRM_APP_CONTENT_NAME=
DREAMCRM_APP_CONTENT_CODE=
DREAMCRM_APP_CONTENT_CONFIRM_CODE=
DREAMCRM_APP_CONTENT_CORRELATION_ID=
DREAMCRM_APP_CONTENT_EMAIL_CORRELATION_ID=
DREAMCRM_APP_CONTENT_USER_ID=
DREAMCRM_APP_CONTENT_BOOKING_ID=
DREAMCRM_APP_CONTENT_ORDER_ID=
DREAMCRM_APP_CONTENT_TICKET_ID=
DREAMCRM_APP_CONTENT_QRCODE=
DREAMCRM_APP_CONTENT_COORDINATES=
DREAMCRM_APP_CONTENT_POINT_OF_CONTACT=
DREAMCRM_APP_CONTENT_FIRST_NAME=
DREAMCRM_APP_CONTENT_LAST_NAME=
DREAMCRM_APP_CONTENT_REFRESH_TOKEN=
DREAMCRM_APP_CONTENT_AGREE_TO_PROCESSING_PERSONAL_DATA=
DREAMCRM_APP_CONTENT_IS_CONFIRM_POLICY=
DREAMCRM_APP_CONTENT_IS_MAIL_CONFIRM=
DREAMCRM_APP_CONTENT_IS_PHONE_CONFIRM=
DREAMCRM_APP_CONTENT_IS_SUBS=

DREAMCRM_MOBILE_BASE_URL=
DREAMCRM_MOBILE_API_KEY=
DREAMCRM_MOBILE_AUTHORIZATION=
DREAMCRM_MOBILE_AUTH_KEY=
DREAMCRM_MOBILE_USERNAME=
DREAMCRM_MOBILE_PASSWORD=
DREAMCRM_MOBILE_PASSWORD_CONFIRM=
DREAMCRM_MOBILE_EMAIL=
DREAMCRM_MOBILE_MAIL=
DREAMCRM_MOBILE_PHONE_FOR_AUTH=
DREAMCRM_MOBILE_NAME=
DREAMCRM_MOBILE_CODE=
DREAMCRM_MOBILE_CONFIRM_CODE=
DREAMCRM_MOBILE_CORRELATION_ID=
DREAMCRM_MOBILE_EMAIL_CORRELATION_ID=
DREAMCRM_MOBILE_USER_ID=
DREAMCRM_MOBILE_BOOKING_ID=
DREAMCRM_MOBILE_ORDER_ID=
DREAMCRM_MOBILE_TICKET_ID=
DREAMCRM_MOBILE_QRCODE=
DREAMCRM_MOBILE_COORDINATES=
DREAMCRM_MOBILE_POINT_OF_CONTACT=
DREAMCRM_MOBILE_FIRST_NAME=
DREAMCRM_MOBILE_LAST_NAME=
DREAMCRM_MOBILE_REFRESH_TOKEN=
DREAMCRM_MOBILE_AGREE_TO_PROCESSING_PERSONAL_DATA=
DREAMCRM_MOBILE_IS_CONFIRM_POLICY=
DREAMCRM_MOBILE_IS_MAIL_CONFIRM=
DREAMCRM_MOBILE_IS_PHONE_CONFIRM=
DREAMCRM_MOBILE_IS_SUBS=
