DREAMCRM_API_KEY=
DREAMCRM_BASE_URL=
DREAMCRM_ACCOUNTING_API_KEY=
DREAMCRM_ACCOUNTING_BASE_URL=
DREAMCRM_EMAIL=
DREAMCRM_CUSTOMER_ID=
DREAMCRM_WEBSITE_ID=
DREAMCRM_DISCOUNT_CARD_NUMBER=
DREAMCRM_MINDBOX_ID=
DREAMCRM_MOBILE_PHONE=
DREAMCRM_ACTION_TEMPLATE_SYSTEM_NAME=
DREAMCRM_CONTACT_POINT_ID=
DREAMCRM_PROMOTION_ORDER_ID=
